/* CSS Document */
body
{
	font-family: Verdana, Arial;
	padding:0; 
	margin:0; 
	background:url(images/bg2.gif) repeat-x #000; 
	color:#A5A5A4;
}
div, ul, h1, h2, h3, h4, p, img, form
{
	padding:0; 
	margin:0;
}
ul
{
	list-style-type:none;
}
.login 
{
	text-align: right;
	margin-left: auto;
}
.login_label
{
	font-size: small;
	font-family: Arial, Trebuchet MS;
	margin-left: auto;
}
.login input 
{
	margin-left: 4.5em;
}
.code
{
	color: #9BCBCD;
	font-family: Courier New, Courier;
	font-size: small;
}
.comments
{
	font-family: Verdana;	
	border: 1px dotted #575757;
	padding: 6px 8px 8px 8px;
	color: #b7b7b7;
	background-color: #1a1a1a;
	width: 60%;
	min-height: 36px;
}
.comments hr
{
	border: 1px solid #373737;	
}
#commentsHeader
{
	font-size: medium;
	font-weight: bold;
	text-align: left;
	float: left;
	width: 30%;
}
#commentsAddButton
{
	text-align: right;
	float:right;
	width: 30%;
}
.commentsTitle h4
{
	font-size: small;
	font-style: normal;
	text-align: left;
	float: left;
	width: 49%;
}
.comments p
{
	font-size: small;
	
}

.commentsDate
{
	font-size: medium;
	text-align: right;
	float: right;
	width: 49%;
}
.clear
{
	clear: both;
}
.postbody
{
}
.postbody p
{	
	padding-bottom: 1em;
	font-size: small;
}
#LoggedInTemplate
{
	font-size: 0.8em; 
	font-family: Verdana; 
	padding-right: 12px;
	padding-top: 4px;
}
#LoggedInTemplate a
{
	text-decoration: none;
	color: #ffffff;	
}
#LoggedInTemplate a:hover
{
	text-decoration: underline;
	color: #ffffff;	
}
.blank
{
	font-size:0px; 
	clear:both; 
	line-height:0px;
}
#header-menu
{
	height: 20px; 
	padding-left: 8px;
}
#header-menu ul
{
	white-space: nowrap; 
	list-style-type: none;	
}
#header-menu ul li
{
	display:inline;
	border-right: 1px solid #565656;
	
}
#header-menu ul li a
{
	font-family: Courier New;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	letter-spacing: 2px;
	height: 20px;
	padding: 0 14px 0 14px;
	
}
#header-menu ul li a:hover
{
	text-decoration: underline;
	
}
.header-menu-first-item
{
	border-left: 1px solid #565656;
}
.posttitle h6
{
	font-family: Verdana, Arial;
	margin-top: 0px;	
}
.post
{
}
#bodydiv
{		
	min-width: 659px;
	width: 80%;
	height: auto;
	float: left;	
	padding-right: 2%;
	border-right: dotted 1px #565656;
	padding-top: 16px;
	padding-left: 2%;	
	padding-bottom: 0;
}
#marketingdiv
{
	width: 140px;
	height: auto;		
	min-width: 140px;	
	min-height: 620px;
	float: right;
	padding: 10px;		
	text-align: center;	
	margin: 1% 1% 1% 0;
}
.footer-dark
{
	font-family: Verdana, Trebuchet MS;
	font-size: x-small; 
	color: #505050;
}
#footerPan
{
}
#footerMainPan
{	
	background: url(images/footerbg.gif) repeat-x rgb(86,86,86);	
	color: White;
	height: 172px;
}
#footerMenuPan
{
	position: relative;
	padding-top: 60px;
	margin-left: 20%;	
}
#footerMenuPan ul
{
	list-style-type: none;
	white-space: nowrap;
}
#footerMenuPan ul li
{
	display: inline;	
}
#footerMenuPan a
{
	text-decoration: none;
	font-family: Verdana, Trebuchet MS;
	margin: 0 14px 0 14px;
	color: #a0a0a0;
	font-size: 0.9em;
}
#footerMenuPan a:hover
{
	text-decoration: underline;
}